@tailwind base;
@tailwind components;
@tailwind utilities;


   

@layer components{
    .container {
        @apply max-w-7xl mx-auto;
    }
}
.navbar{
    @apply px-4 md:px-8 py-3  flex justify-between flex-wrap
}
@screen md{
    .navbar{
        @apply px-8
    }
}
.menuIcon{
    @apply cursor-pointer self-center mr-2 block
}
@screen md{
    .menuIcon{
        @apply hidden
    }
}
.affichItems{
    @apply hidden w-full text-center md:flex md:flex-grow md:w-auto
}
@screen md{
    .affichItems{
        @apply flex flex-grow w-auto
    }
}
.headerOne{
    @apply flex flex-col pb-20  px-4  py-4 mx-auto justify-center
}
@screen md{
    .headerOne{
        @apply flex-row px-8
    }
}
.timeline-year > span {
    top: 50%;
    left :50%;
    @apply absolute text-white font-semibold transform -translate-x-1/2 translate-y-1/2

}
.timeline-year {
    @apply float-left w-3 h-3 bg-indigo-600 ring-8 ring-indigo-100 rounded-full
}
.title-resume{
    @apply font-bold text-4xl capitalize text-headingcolor mb-8
}
.headroom {
    @apply sticky top-0 z-50 w-full;
    
    will-change: transform;
    transition: transform 200ms linear;
}
.headroom--pinned {
    transform: translateY(0%);
    @apply  bg-white shadow-sm;
}
.headroom--unpinned {
    transform: translateY(-100%);
}
/*====== dark mode ========*/
.dark-mode {
background-color:#0c0c0d ;
}
.dark-mode .navbar {
    color:white;
    background-color: #0c0c0d;

}
.dark-mode .def-span{
    color: white;
    background-color: #0c0c15;
    border-radius: 50px;
}
.dark-mode .def-h1{
    color: whites;
}
.dark-mode .headroom--pinned{
    border-bottom: 1px solid #1b1b1b;
    box-shadow: none;
}
.dark-mode .def-h2{
    color: white;
}
.dark-mode input,
.dark-mode textarea{
    background-color: #0c0c0d;
    color: #a0aec0;
    
}
.dark-mode input:hover,
.dark-mode textarea:hover{
    border-color: #ffc200;
}
.dark-mode .best-studio {
    color: white;
}
/*====== end  dark mode ========*/

/*====== card ========*/
